<h1>Blog App</h1>

<%= render 'shared/user', user: @user %>
<ul>
<% if @posts.empty? %>
  <p class='no-posts'>No posts</p>
<% else %>
<% @posts.each do |post|%>
<li>
  <%= render 'shared/post', post: post %>
  <%= render 'shared/comment', comments: post.return_most_comment%>
</li>
<%= form_with url: user_post_likes_path(post.author.id, post.id) do |form| %>
  <%= form.submit 'Like', class: 'like_btn' %>
<% end %>

<%= link_to "Add comment", new_user_post_comment_path(@user, post), class: 'view-all-post-btn' %>
<%end%>
<%end%>
</ul>
