<%= stylesheet_link_tag("user") %>
<div class="row">
<article class='no-posts'>
  <div class='post-title' >
  <h1><%= @post.title %> by <%= @post.author.name %><h1>
  <div class='post-count-best'>Comments: <%= @post.comments_counter %>, Likes:<%= @post.likes_counter %></div>
  </div>
  <div><%= @post.text %></div>
  <%= render "shared/comment", comments: @post.return_most_comment %>
</article>
<div>